*, *::before, *::after {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

html {
    background-color:rgba(0,0,0, 1);
    color:red;
    font-family:"verdana", sans-serif;
 
}

body{
 
    height:100vh;
    display:flex;
}   
 
.keys {
height:100%; 
display:flex;
align-items:center;
justify-content:center;
flex-wrap:wrap;
width:90%;
margin:0 auto;
 
}

.key {
    
    border:3px solid yellow;
    width:100px; 
    border-radius:15%;
    margin-left:4em;
    transition: all 0.07s;
    text-align:center;
   flex: 1 1 12,5%;
    transform:translateX(-2em);
    padding:1em;
}

.keydown {
    border-color:limegreen;
    transform:scale(1.1)
    translateX(-2em);
    box-shadow:0.1em 0.2em 0.9em red;
 
}
 
.playing {
    transform:scale(1.1);
    border-color:limegreen;
    box-shadow: 0 0 10px limegreen;
    border-width:2px;
}

kbd {
    display:block;
   font-size: 2em;
   justify-content:center;
}


.sound {
    font-size:0.7rem;
    text-transform:uppercase;
    letter-spacing:1px;
    color: limegreen;
    
}
